.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.728027;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.947266;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-2.666321px;}
._0{margin-left:-1.095272px;}
.fc3{color:rgb(0,2,41);}
.fc1{color:rgb(47,12,89);}
.fc2{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs2{font-size:42.022402px;}
.fs1{font-size:54.028803px;}
.fs0{font-size:90.048005px;}
.y0{bottom:0.000000px;}
.ye{bottom:131.732491px;}
.yd{bottom:158.747092px;}
.ya{bottom:172.254393px;}
.yc{bottom:185.761694px;}
.y1{bottom:199.268995px;}
.yb{bottom:212.776295px;}
.yf{bottom:225.533196px;}
.y9{bottom:238.290097px;}
.y2{bottom:250.671697px;}
.y6{bottom:251.797298px;}
.y7{bottom:251.797398px;}
.y8{bottom:265.304598px;}
.y5{bottom:290.818400px;}
.y3{bottom:317.833001px;}
.y4{bottom:344.847603px;}
.h5{height:30.121527px;}
.h4{height:32.419627px;}
.h3{height:38.727677px;}
.h2{height:64.546129px;}
.h0{height:404.880000px;}
.h1{height:405.000000px;}
.w0{width:925.919980px;}
.w1{width:926.000000px;}
.x0{left:0.000000px;}
.x1{left:59.317203px;}
.x2{left:292.282817px;}
.x3{left:415.349224px;}
.x5{left:441.280025px;}
.x7{left:494.141828px;}
.x4{left:509.900329px;}
.x6{left:518.154830px;}
.x8{left:745.527543px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-3.555095pt;}
._0{margin-left:-1.460363pt;}
.fs2{font-size:56.029870pt;}
.fs1{font-size:72.038404pt;}
.fs0{font-size:120.064007pt;}
.y0{bottom:0.000000pt;}
.ye{bottom:175.643321pt;}
.yd{bottom:211.662790pt;}
.ya{bottom:229.672524pt;}
.yc{bottom:247.682258pt;}
.y1{bottom:265.691993pt;}
.yb{bottom:283.701727pt;}
.yf{bottom:300.710928pt;}
.y9{bottom:317.720129pt;}
.y2{bottom:334.228930pt;}
.y6{bottom:335.729730pt;}
.y7{bottom:335.729863pt;}
.y8{bottom:353.739464pt;}
.y5{bottom:387.757866pt;}
.y3{bottom:423.777335pt;}
.y4{bottom:459.796804pt;}
.h5{height:40.162036pt;}
.h4{height:43.226169pt;}
.h3{height:51.636903pt;}
.h2{height:86.061505pt;}
.h0{height:539.840000pt;}
.h1{height:540.000000pt;}
.w0{width:1234.559973pt;}
.w1{width:1234.666667pt;}
.x0{left:0.000000pt;}
.x1{left:79.089605pt;}
.x2{left:389.710422pt;}
.x3{left:553.798965pt;}
.x5{left:588.373367pt;}
.x7{left:658.855771pt;}
.x4{left:679.867106pt;}
.x6{left:690.873106pt;}
.x8{left:994.036724pt;}
}
